<html>
<head>
  <meta charset="UTF-8">
  <title>A Little Bit</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="normalize.css" type="text/css">
  <link rel="stylesheet" href="index.css" type="text/css">
  <%= stylesheet_link_tag :normalize %>
  <%= stylesheet_link_tag :application %>
</head>
<body>
    <header role="banner" class="grid clearfix centered">
      <div id="logo" class="responsive-logo">
        <div class="[ smart-col-1-4 ] [ tab-col-1-6 ] [ col-2-8 block ]">
          <a href="/books/home">
            <span class="icon icon--bulb mt ml"></span>
            <img id="a-little" src="assets/a_little_bit.png" alt= "A little bit"/>
          </a>
        </div>
      </div>
      <nav class=" [ col-offset-3 ] [ smart-both ] mt" role="navigation">
        <ul class="zero-list inline-list uppercase ">
          <li class = "mr"><a class="black" href=""><!-- <span>Link to the sites</span> -->HOME</a></li>
          <li class = "mr"><a class="black" href="">SHOP</a></li>
          <li class = "mr"><a class="black" href="">PRESS</a></li>
          <li class = "mr"><a class="black" href="">ABOUT</a></li>
          <li class = "mr"><a class="black" href="">HELP</a></li>
        </ul>
      </nav>
      <div id="cart">
        <div class="[ tab-col-offset-4 tab-col-2-6 ] [smart-col-2-4 smart-col-offset-3 ] [ col-offset-7 col-1-8 ] border bg--dark-neutral mt-zero ">
          <span  id="quantity" class="border bg--light-neutral  block m-micro pt-small pb-small t-text-center left line-height">0</span>
          <span class="icon icon-cart right mt-small mb-micro"><span>
        <!--     smart-both -->
        </div>
      </div>
    </header>

    <main class="both grid centered">
      <h1 class="serif"><span class="mb block" >A Little Bit of <span>Knowledge</span></span> <em class= "block t--lg brand-02">by Albert Einstein</em> </h1>
      <div = "images">
        <img class="responsive-image smart-col-4-4 tab-col-6-6 col-8-8" src= "assets/book-group.jpg" alt= "" />
      </div>
      <div class="inline smart-col-4-4 both col-4-8 clearfix smart-both" id="summary">
        <p>It is also important to read the original source (not a later interpretation which often leads to misrepresentation and error) and that these original quotes should give confidence to the truth of whichat we say. As Albert Einstein astutely remarks;</p>

        <p>Science without religion is lame. Religion without science is blind, E=mc².</p>

        <p>The eternal mystery of the world is its comprehensibility, I want to know God's thoughts; the rest are details. I never think of the future. It comes soon enough. Weakness of attitude becomes weakness of character.</p>

        <p>The only thing that interferes with my learning is my education, any intelligent fool can make things bigger, more complex, and more violent, great spirits have often encountered violent opposition from weak minds, the eternal mystery of the world is its comprehensibility. Weakness of attitude becomes weakness of character.</p>

        <p>The secret to creativity is knowing how to hide your sources, the eternal mystery of the world is its comprehensibility. Imagination is more important than knowledge, reality is merely an illusion, albeit a very persistent one, I never think of the future. It comes soon enough. </p>
      </div>
    <!--   <div class="smart-col-4-4 both col-4-8 clearfix smart-both" id="summary">
      <details>
        <summary class="lead">Knowledge of the history and evolution of our
        ideas is absolutely vital for wise understanding.</summary>
        <summary>It is also important to read the original source(not a later)
        interpretation which often leads to misrepresentation and error) and
        that these original quotes should give confi-</summary>
      </details>
      </div> -->
      <ol class="[ smart-both smart-col-4-4 ] zero-list [ col-offset-5 col-3-8 ] [tab-col-offset-4 tab-col-3-6]inl right">
        <li class="p-small border bg--light-neutral clearfix mb">
          <span class="icon icon-book left mr-small"></span>
          <h3 class="mb-small mt-zero left">Paperback<span class="block t--md">&pound; 8.00 + Postage</span></h3>
          <button class="border brand right">Buy</button>
        </li>
        <li  class="p-small border bg--light-neutral clearfix mb">
          <span class="icon icon-tablet left mr-small"></span>
          <h3 class="mb-small mt-zero left">Ebook<span class="block t--md">&pound; 8.00</span></h3>
          <button class="border brand right">Buy</button>
        </li>

        <li  class="p-small border bg--light-neutral clearfix mb">
          <h3>Additional Info<h3>
          <p>ISBN:978-1-9375571-0-2</p>
          <p>Paperback:</p>
          <p>154 pages</p>
        </li>
        <li class="t--color p-small clearfix mt">
          <h3 class="t--lg t-bold">About the Author<h3>
          <div id="einstein"><img src="assets/einstein.jpeg" alt="Albert Einstein" width="87px" height:"114px"/></div>
          <div id="einstein-info">
          <p class="t-bold">Albert Einstein</p>
          <p class="">Paperback:</p>
          <p class="">Theoretical Physicist Albert Einstein was a German-born theoritical physicist who developed the general theory of relativity, one of the two pillars of modern physics.</p>
          <p>Born:</p>
          <p class="t-bold">March 14, 1879, Ulm, Germany</p>
        </li>
      </ol>
      <div id="breakline brand both">
      </div>
      <!-- <hr id="breakline"> -->
      <div id="quoted" class="both">
        <h3>What people are saying</h3>
        <p><span class="t--xl t--color-2 quote"></span>When the poet Paul Valery once asked Albert Einstein if he kept a notebook to record his ideas, Einstein looked at him with mild but genuine surprise. "Oh, that's not necessary," he replied . "It's so seldom I have one.</p>
        <p>Bill Bryson</p>
      </div>
    </main>

    <footer role="content-info" class="both grid centered clearfix">
        <small class="right p smart-both" itemscope itemtype="http://schema.org/Organization">
        <span>
          <span itemprop="name">A Little Bit</span>
          <sup class="txt-xs">TM</sup>
        </span>
        Tel:<span itemprop="telephone">0207 804 1963</span>,
        E-mail: <span itemprop="email">seeus@alittlebit.com</span>
        <small>&copy; A little Bit <sup class="txt-xs">TM</sup> 2015 </small>
      </small>
    </footer>
   <!--  <footer>
      <small class="col-offset-5 both">A little Bit &#8482;    Tel:0207 804 1963   Email:seeus@alittlebit.com   &copy A little Bit &#8482; 2015</small>
    </footer> -->
 <!--  </div> -->
</body>
</html>