/* Colours */

.black,
a.black{
  color:black;
}

.brand-02{
  color:#087b25;
  color:rgb(8,123,37);
}

.bg--dark-neutral{
  background-color: #aea9a9;
}

.bg--light-neutral {
  background-color: #d7d4d4;
}

.brand{
  background-color: #fb46ca;
}

.block{
  display: block;
}

.bg--smooth-neutral {
  background-color: #6c6c6c
}
