<html>
<head>
  <meta charset="UTF-8">
  <title>A Little Bit</title>
  <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
<!--   <link rel="stylesheet" href="normalize.css" type="text/css">
  <link rel="stylesheet" href="index.css" type="text/css"> -->
  <%= stylesheet_link_tag :normalize %>
  <%= stylesheet_link_tag :application %>
  <%= javascript_include_tag :cloning %>
</head>
<body>
  <header role="banner" class="grid clearfix centered">
      <div id="logo" class="responsive-logo">
        <div class="[ smart-col-1-4 ] [ tab-col-1-6 ] [ col-2-8 block ]">
          <a href="/books/home">
            <span class="icon icon--bulb mt ml"></span>
            <img id="a-little" src="/assets/a_little_bit.png" alt= "A little bit"/>
          </a>
        </div>
      </div>
      <nav class=" [ col-offset-3 ] [ smart-col-4-4 smart-both ] [tab-col-offset-1 tab-both] mt" role="navigation">
        <ul class="zero-list inline-list uppercase ">
          <li class = "mr"><a class="black" href="/"><!-- <span>Link to the sites</span> -->HOME</a></li>
          <li class = "mr"><a class="black" href="/shop">SHOP</a></li>
          <li class = "mr"><a class="black" href="/press">PRESS</a></li>
          <li class = "mr"><a class="black" href="/about">ABOUT</a></li>
          <li class = "mr"><a class="black" href="/help">HELP</a></li>
        </ul>
      </nav>
      <div id="cart">
        <div class="[ tab-col-offset-5 tab-col-1-6 ] [smart-col-2-4 smart-col-offset-2 ] [ col-offset-7 col-1-8 ] border bg--dark-neutral mt-zero ">
          <span  id="quantity" class="border bg--light-neutral  block m-micro pt-small pb-small t-text-center left line-height">0</span>
          <span class="icon icon-cart right mt-small mb-micro"><span>
        <!--     smart-both -->
        </div>
      </div>
    </header>
  <main>
  <%=yield%>
  <main>
  <footer role="content-info" class="both grid centered clearfix">
    <small class="right p smart-both" itemscope itemtype="http://schema.org/Organization">
      <span>
        <span itemprop="name">A Little Bit</span>
        <sup class="txt-xs">TM</sup>
      </span>
      Tel:<span itemprop="telephone">0207 804 1963</span>,
      E-mail: <span itemprop="email">seeus@alittlebit.com</span>
      <small>&copy; A little Bit <sup class="txt-xs">TM</sup> 2015 </small>
    </small>
  </footer>

</body>
</html>