<html>
<head>
  <title></title>
    <% content_for :body do %>
      <%= stylesheet_link_tag 'main'%>
    <% end %>
  <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
  <script>
    $( document ).ready(function() {
      event.preventDefault();
      $("#button").click(function(){
        alert("Success!")
      })
    });
  </script>
</head>
<body>

  <%=yield%>

</body>
</html>