<html>
<head>
  <title></title>
  <%= stylesheet_link_tag :application %>
  <script src="javascripts/underscore-min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
  <script>
    $( document ).ready(function() {
      //event.preventDefault();
      $(".button").click(function(event){
        var field = $(".chapter-field").last().clone();
        event.preventDefault();
        $(field).insertBefore('#submit');
        // $(".button")[1].hide();
      })
    });
  </script>
</head>
<body>
  <header>
    <%= yield_content :header%>
  </header>

  <%=yield%>

  <footer>
    <%= yield_content :footer%>
  </footer>

</body>
</html>